<script src="https://cdn.rawgit.com/simplesmiler/vue-focus/0.1.1/dist/vue-focus.min.js"></script>

<div am-editor>
  <template v-if="item">
    <div am-editor=field>
      <span name="editor-title"> Title </span>

      <input am-editor=title placeholder="title" aria-labelledby="editor-title"
        v-on:keydown="key"
        v-model="item.title">
    </div>

    <div am-editor=field>
      <span name="editor-content"> Content </span>

      <div am-editor=content aria-labelledby="editor-content"
        v-on:keydown="key">
        <textarea am-editor=entry placeholder="..."
          v-for="field of item.content"
          v-focus="$index === focused"
          :value="field"
          :data-index="$index"
          track-by="$index"></textarea>
      </div>
    </div>
  </template>
</div>

<script>
  nota.components.NotaEditor = Vue.extend({
    props: [ 'item' ],

    template: document.currentScript.ownerDocument.querySelector( '[am-editor]' ).outerHTML,

    data: () => ({
      focused: 0
    }),

    methods: {
      key( event ) {
        
        if ( event.shiftKey && u.key(event) === 'enter' ) {
          event.preventDefault()

          return this.create(event)
        }

        this.$dispatch('edit', {
          $id: this.item.$id,
          
          title: this.item.title,
          content: this.item.content,
        })
      },

      create( event ) {

        const $index = +event.target.dataset.index + 1
        this.item.content.splice($index , 0 , '')
        
        this.$nextTick(() => this.focused = $index)
      }
    },
    
    directives: {
      focus: VueFocus.focus
    },
    
    name: 'nota-editor',
  })
</script>
