<ul am-list="root">
    <li am-list="item"
      v-on:click="setNota"
      v-for="item of items"
      :data-id="item.id"
      v-text="item.title"></li>
</ul>


<script>

  (function(window) {

    const NotaList = Vue.extend({
      props: [ 'items' ],

      template: this.querySelector( '[am-list=root]' ).outerHTML,

      methods: {
        setNota(event) {
          const self = event.target.dataset

          this.$dispatch( 'nota', { id: self.id } )
        },
      },

      replace: false,
    })


    objectPath.set(window, 'nota.components.NotaList', NotaList)

  }.call(document.currentScript.ownerDocument, window))

</script>
