<div am-editor="root">

  <div am-editor="field">
    <span class="l-screen-reader" name="editor-title">Title</span>

    <input am-editor="title" placeholder="title" aria-labelledby="editor-title"
           :value="title">
  </div>

  <div am-editor="field">
    <span class="l-screen-reader" name="editor-content">Content</span>

    <div am-editor="content" aria-labelledby="editor-content">
      <textarea v-for="line in lines" am-editor="entry" :value="line"></textarea>
    </div>
  </div>

</div>


<script>

  (function(Vue) {

    'use strict'

    Vue.component('nota-editor', {
      props: [ 'title' , 'content' ],
      
      template: this.querySelector( '[am-editor=root]' ).outerHTML,
      
      replace: false,
      
      computed: {
        lines() {
          return this.content.trim().split("\n")
        }
      }
    })

  }.call(document.currentScript.ownerDocument, Vue))

</script>
