<ul am-list="root">
    <li am-list="item"
      v-for="item of items"
      v-if="inFolder(item)"
      v-link="{ name: 'nota' , params: { folder: item.$folder , slug: item.slug } }"
      v-text="item.title"></li>
</ul>


<script>

  (function({ window, u }) {

    const NotaList = {
      props: [ 'items' ],

      template: this.querySelector( '[am-list=root]' ).outerHTML,
      
      name: 'nota-list',
      
      methods: {
        inFolder({ $folder }) {
          const routeFolder = this.$route.params.folder
          if ( routeFolder === '*' || routeFolder === $folder ) return true
          
          return false
        }
      },
    }


    objectPath.set(window, 'nota.components.NotaList', NotaList)

  }).call(document.currentScript.ownerDocument, this)

</script>
