<aside am-list>
    <div am-list=folder
      v-for="item of items"
    >
      <strong am-list=folder-title
        v-if="item.folder"
        v-link="{ name: 'folder', params: { folder: item.folder } }"
        v-text="item.folder"
      ></strong>
      
      <template v-for="content of item.contents">
          <pre>{{ content | json }}</pre>
          
          <router-view v-if="content.folder" :items="">
          
          <!-- <a am-list=link
            v-else
            v-text="content.title"
            v-link="{ name: 'folder', params: { slug: content.$slug } }"
        ></a>  -->
      </template>
    </div>
</aside>

<style>
  [am-list] { display: block }
  
  [am-list=folder] { margin: 1em 0; padding: .5em }
  [am-list=link]   { padding-left: .5em }
</style>

<script>
  nota.components.NotaList = Vue.extend({
    props: [ 'items' ],

    template: document.currentScript.ownerDocument.querySelector( '[am-list]' ).outerHTML,
    
    methods: {
      inFolder( $folder ) {
        const routeFolder = this.$route.params.folder
        
        const isRoot  = ( routeFolder === '*' )
        const isChild = ( routeFolder === $folder )
        
        if ( isRoot || isChild ) return true
        if ( $folder === '*' )   return false
        
        const routePath = routeFolder.split('/')
        const $folderPath = $folder.split('/')
        
        console.log( routePath, $folderPath )
        
        return false
      }
    },
    
    name: 'nota-list',
  })
</script>
