<div am-editor="root" v-if="item">

  <div am-editor="field">
    <span class="l-screen-reader" name="editor-title"> Title </span>

    <input am-editor="title" placeholder="title" aria-labelledby="editor-title"
      v-model="item.title" v-on:keydown="key">
  </div>

  <div am-editor="field">
    <span class="l-screen-reader" name="editor-content"> Content </span>

    <div am-editor="content" aria-labelledby="editor-content" 
      v-on:keydown="key">
      <textarea am-editor="entry" placeholder="..."
        v-for="field of item.content"
        v-model="item.content[$index]"
        v-focus="$index === focused"
        :value="field"
        :data-index="$index"
        track-by="$index"></textarea>
    </div>
  </div>

</div>


<script>

  (function(Vue) {

    'use strict'

    Vue.component('nota-editor', {
      props: [ 'item' ],

      template: this.querySelector( '[am-editor=root]' ).outerHTML,

      replace: false,
      
      data: function() {
        return {
          focused: 0
        }
      },

      methods: {
        key(event) {

          if ( event.shiftKey && u.key(event) === 'enter' ) {
            event.preventDefault()
            
            return this.create(event)
          }
          
          this.$dispatch('edit', {
            id: this.item.id,
            title: this.item.title,
            content: this.item.content,
          })
        },
        
        create(event) {
          
          const $index = +event.target.dataset.index + 1
          this.item.content.splice($index , 0 , '')
          Vue.nextTick(() => this.focused = $index)
        }
      },
      
      directives: {
        focus: VueFocus.focus
      },
    })

  }.call(document.currentScript.ownerDocument, Vue))

</script>
